@mixin clearfix {
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}

@mixin responsive($breakpoint) {
    @if $breakpoint==small-phone {
        @media only screen and (max-width: 20.75em) {
            @content;
        }
    }

    @if $breakpoint==phone {
        @media only screen and (max-width: 25.876em) {
            @content;
        }
    }

    @if $breakpoint==cast {
        @media only screen and (max-width: 32em) {
            @content;
        }
    }

    @if $breakpoint==change-menu {
        @media only screen and (max-width: 42em) {
            @content;
        }
    }

    @if $breakpoint ==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }

    @if $breakpoint ==tab-land {
        @media only screen and (max-width: 75em) {
            @content;
        }
    }

    @if $breakpoint ==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content;
        }
    }

    @if $breakpoint ==short {
        @media only screen and (max-height: 42em) {
            @content;
        }
    }

    @if $breakpoint ==shorter {
        @media only screen and (max-height: 30em) {
            @content;
        }
    }

    @if $breakpoint ==too-short {
        @media only screen and (max-height: 22em) {
            @content;
        }
    }
}
