$color-black: #000;
$color-white: #fff;

$color-white-light: #d1d1d1;
$color-white-mid: #9b9a9a;
$color-white-dark: #868686;

$grey-font: #a7a7a7;
$color-grey-light: #2f3037;
$color-grey-mid: #1c1c21;
$color-grey-dark: #131316;
$color-grey-darkest: #111111;

$color-red-blood: rgb(177, 12, 12);
$color-red-light: #780000;
$color-red-mid: rgb(102, 0, 0);
$color-red-dark: rgb(61, 0, 0);

$color-green: #025a54;
$color-blue: #043b68;
$color-orange: #923812;
$color-orange-carrie: #f25e19;
$color-purple: #741450;
$color-red: #8a0505;


$grid-width: 144rem;
$gutter: 6rem;
