<footer class="footer">
    <div class="footer__diagonal"></div>
    <!-- <div class="footer__container">
        <div class="footer__text">
            <p class="footer_desc">
                All shows are held at The Drifter Hotel.<br />
                3522 Tulane Ave.
                New Orleans, LA
            </p>
        </div>
        <div class="footer__map" id="footer__map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.4670312712065!2d-90.10280262377452!3d29.96600532228169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8620a58efcd8cfed%3A0x552e85c036e0c40!2sThe%20Drifter%20Hotel!5e0!3m2!1sen!2sus!4v1683902057623!5m2!1sen!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="footer__map--display"></iframe>
        </div>
    </div> -->
    <h2 class="heading-secondary mt-medium">Connect with us on social!</h2>
    <div class="footer__social">
        <a href="https://www.facebook.com/AquaMobNewOrleans/" target="_blank" class="footer__link"><img src="/images/social-icons/facebook-original.svg" alt="facebook logo" class="footer__img"></a>
        <a href="https://www.instagram.com/aquamobnola/" target="_blank" class="footer__link"><img src="/images/social-icons/Instagram_Glyph_Gradient_RGB.svg" alt="facebook logo" class="footer__img"></a>
    </div>
    <div class="footer__attribution">
        <p class="footer__sam"><span class="footer__span">Webpage by:</span><a href="https://samcantwait.com"
                class="footer__portfolio" target="_blank">Sam Atkins</a></p>
    </div>
</footer>