<section id="gallery" class="section-backdrop gallery rotate">
  <div class="center-text mb-large mt-medium">
    <h2 class="heading-secondary mt-large">Photo Gallery</h2>
  </div>
  <div class="center-text">
    <h3 class="heading-tertiary">2023 - Carrie: Blood in the Water</h3>
  </div>
  <div class="gallery__grid">
    <img
      class="gallery__item gallery__item--1"
      srcset="
        /images/carrie/port-pictures/port-pictures-2-600.webp 600w,
        /images/carrie/port-pictures/port-pictures-2-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/carrie/port-pictures/port-pictures-2-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--2"
      srcset="
        /images/carrie/josh-hailey/josh-hailey-10-600.webp 600w,
        /images/carrie/josh-hailey/josh-hailey-10-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/carrie/josh-hailey/josh-hailey-10-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--3"
      srcset="
        /images/carrie/zach-buckner/zach-buckner-9-600.webp 600w,
        /images/carrie/zach-buckner/zach-buckner-9-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/carrie/zach-buckner/zach-buckner-9-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--4"
      srcset="
        /images/carrie/josh-hailey/josh-hailey-9-600.webp 600w,
        /images/carrie/josh-hailey/josh-hailey-9-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/carrie/josh-hailey/josh-hailey-9-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--5"
      srcset="
        /images/carrie/josh-hailey/josh-hailey-2-600.webp 600w,
        /images/carrie/josh-hailey/josh-hailey-2-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/carrie/josh-hailey/josh-hailey-2-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--6"
      srcset="
        /images/carrie/raymond-rahage/raymond-rahage-4-600.webp 600w,
        /images/carrie/raymond-rahage/raymond-rahage-4-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/carrie/raymond-rahage/raymond-rahage-4-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--7"
      srcset="
        /images/carrie/raymond-rahage/raymond-rahage-3-600.webp 600w,
        /images/carrie/raymond-rahage/raymond-rahage-3-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/carrie/raymond-rahage/raymond-rahage-3-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--8"
      srcset="
        /images/carrie/zach-buckner/zach-buckner-5-600.webp 600w,
        /images/carrie/zach-buckner/zach-buckner-5-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/carrie/zach-buckner/zach-buckner-5-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--9"
      srcset="
        /images/carrie/zach-buckner/zach-buckner-10-600.webp 600w,
        /images/carrie/zach-buckner/zach-buckner-10-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/carrie/zach-buckner/zach-buckner-10-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--10"
      srcset="
        /images/carrie/zach-buckner/zach-buckner-6-600.webp 600w,
        /images/carrie/zach-buckner/zach-buckner-6-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/carrie/zach-buckner/zach-buckner-6-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--11"
      srcset="
        /images/carrie/raymond-rahage/raymond-rahage-5-600.webp 600w,
        /images/carrie/raymond-rahage/raymond-rahage-5-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/carrie/raymond-rahage/raymond-rahage-5-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--12"
      srcset="
        /images/carrie/zach-buckner/zach-buckner-4-600.webp 600w,
        /images/carrie/zach-buckner/zach-buckner-4-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/carrie/zach-buckner/zach-buckner-4-350.webp"
      alt=""
      loading="lazy"
    />
  </div>
  <a href="/gallery/?showName=carrie" class="btn-more center-text mb-large"
    >View the full gallery &rarr;</a
  >

  <div class="center-text">
    <h3 class="heading-tertiary">2022: Ripley and the Cat</h3>
  </div>
  <div class="gallery__grid mb-large">
    <img
      class="gallery__item gallery__item--1"
      srcset="
        /images/ripley/brian-boudreaux/brian-boudreaux-9-600.webp 600w,
        /images/ripley/brian-boudreaux/brian-boudreaux-9-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/ripley/brian-boudreaux/brian-boudreaux-9-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--2"
      srcset="
        /images/ripley/eli-mergel/eli-mergel-1663-600.webp 600w,
        /images/ripley/eli-mergel/eli-mergel-1663-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/ripley/eli-mergel/eli-mergel-1663-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--3"
      srcset="
        /images/ripley/brian-boudreaux/brian-boudreaux-43-600.webp 600w,
        /images/ripley/brian-boudreaux/brian-boudreaux-43-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/ripley/brian-boudreaux/brian-boudreaux-43-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--4"
      srcset="
        /images/ripley/brian-boudreaux/brian-boudreaux-54-600.webp 600w,
        /images/ripley/brian-boudreaux/brian-boudreaux-54-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/ripley/brian-boudreaux/brian-boudreaux-54-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--5"
      srcset="
        /images/ripley/madeline-corcoran-1403-600.webp 600w,
        /images/ripley/madeline-corcoran-1403-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/ripley/madeline-corcoran-1403-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--6"
      srcset="
        /images/ripley/raymond-rehage/raymond-rehage-1402-600.webp 600w,
        /images/ripley/raymond-rehage/raymond-rehage-1402-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/ripley/raymond-rehage/raymond-rehage-1402-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--7"
      srcset="
        /images/ripley/eli-mergel/eli-mergel-1584-600.webp 600w,
        /images/ripley/eli-mergel/eli-mergel-1584-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/ripley/eli-mergel/eli-mergel-1584-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--8"
      srcset="
        /images/ripley/brian-boudreaux/brian-boudreaux-70-600.webp 600w,
        /images/ripley/brian-boudreaux/brian-boudreaux-70-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/ripley/brian-boudreaux/brian-boudreaux-70-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--9"
      srcset="
        /images/ripley/eli-mergel/eli-mergel-1767-600.webp 600w,
        /images/ripley/eli-mergel/eli-mergel-1767-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/ripley/eli-mergel/eli-mergel-1767-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--10"
      srcset="
        /images/ripley/eli-mergel/eli-mergel-1725-600.webp 600w,
        /images/ripley/eli-mergel/eli-mergel-1725-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/ripley/eli-mergel/eli-mergel-1725-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--11"
      srcset="
        /images/ripley/brian-boudreaux/brian-boudreaux-11-600.webp 600w,
        /images/ripley/brian-boudreaux/brian-boudreaux-11-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/ripley/brian-boudreaux/brian-boudreaux-11-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--12"
      srcset="
        /images/ripley/brian-boudreaux/brian-boudreaux-21-600.webp 600w,
        /images/ripley/brian-boudreaux/brian-boudreaux-21-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/ripley/brian-boudreaux/brian-boudreaux-21-350.webp"
      alt=""
      loading="lazy"
    />
  </div>
  <a href="/gallery/?showName=ripley" class="btn-more center-text mb-large"
    >View the full gallery &rarr;</a
  >
  <div class="center-text">
    <h3 class="heading-tertiary">2021: SuspiriAcqua</h3>
  </div>
  <div class="gallery__grid mb-large">
    <img
      class="gallery__item gallery__item--1a"
      srcset="
        images/suspiriAcgua/raymond-rehage/raymond-rehage-8791-600.webp  600w,
        /images/suspiriAcgua/raymond-rehage/raymond-rehage-8791-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8791-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--2a"
      srcset="
        images/suspiriAcgua/raymond-rehage/raymond-rehage-8810-600.webp  600w,
        /images/suspiriAcgua/raymond-rehage/raymond-rehage-8810-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8810-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--3a"
      srcset="
        images/suspiriAcgua/raymond-rehage/raymond-rehage-8778-600.webp  600w,
        /images/suspiriAcgua/raymond-rehage/raymond-rehage-8778-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8778-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--4a"
      srcset="
        images/suspiriAcgua/raymond-rehage/raymond-rehage-8693-600.webp  600w,
        /images/suspiriAcgua/raymond-rehage/raymond-rehage-8693-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8693-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--5a"
      srcset="
        images/suspiriAcgua/raymond-rehage/raymond-rehage-8790-600.webp  600w,
        /images/suspiriAcgua/raymond-rehage/raymond-rehage-8790-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8790-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--6a"
      srcset="
        images/suspiriAcgua/raymond-rehage/raymond-rehage-8377-600.webp  600w,
        /images/suspiriAcgua/raymond-rehage/raymond-rehage-8377-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8377-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--7a"
      srcset="
        images/suspiriAcgua/raymond-rehage/raymond-rehage-8724-600.webp  600w,
        /images/suspiriAcgua/raymond-rehage/raymond-rehage-8724-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8724-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--8a"
      srcset="
        images/suspiriAcgua/raymond-rehage/raymond-rehage-8105-600.webp  600w,
        /images/suspiriAcgua/raymond-rehage/raymond-rehage-8105-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8105-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--9a"
      srcset="
        images/suspiriAcgua/raymond-rehage/raymond-rehage-8769-600.webp  600w,
        /images/suspiriAcgua/raymond-rehage/raymond-rehage-8769-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8769-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--10a"
      srcset="
        images/suspiriAcgua/raymond-rehage/raymond-rehage-8556-600.webp  600w,
        /images/suspiriAcgua/raymond-rehage/raymond-rehage-8556-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8556-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--11a"
      srcset="
        images/suspiriAcgua/raymond-rehage/raymond-rehage-8271-600.webp  600w,
        /images/suspiriAcgua/raymond-rehage/raymond-rehage-8271-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8271-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--12a"
      srcset="
        images/suspiriAcgua/raymond-rehage/raymond-rehage-8753-600.webp  600w,
        /images/suspiriAcgua/raymond-rehage/raymond-rehage-8753-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8753-350.webp"
      alt=""
      loading="lazy"
    />
  </div>
  <a
    href="/gallery/?showName=suspiriacqua"
    class="btn-more center-text mb-large"
    >View the full gallery &rarr;</a
  >
  <div class="center-text">
    <h3 class="heading-tertiary">2019: Watership Damn!</h3>
  </div>
  <div class="gallery__grid">
    <img
      class="gallery__item gallery__item--1"
      srcset="
        /images/watership-damn/erin-nelson/erin-nelson-19-600.webp 600w,
        /images/watership-damn/erin-nelson/erin-nelson-19-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/watership-damn/erin-nelson/erin-nelson-19-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--2"
      srcset="
        /images/watership-damn/erin-nelson/erin-nelson-2-600.webp 600w,
        /images/watership-damn/erin-nelson/erin-nelson-2-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/watership-damn/erin-nelson/erin-nelson-2-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--3"
      srcset="
        /images/watership-damn/erin-nelson/erin-nelson-3-600.webp 600w,
        /images/watership-damn/erin-nelson/erin-nelson-3-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/watership-damn/erin-nelson/erin-nelson-3-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--4"
      srcset="
        /images/watership-damn/erin-nelson/erin-nelson-8-600.webp 600w,
        /images/watership-damn/erin-nelson/erin-nelson-8-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/watership-damn/erin-nelson/erin-nelson-8-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--5"
      srcset="
        /images/watership-damn/erin-nelson/erin-nelson-4-600.webp 600w,
        /images/watership-damn/erin-nelson/erin-nelson-4-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/watership-damn/erin-nelson/erin-nelson-4-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--6"
      srcset="
        /images/watership-damn/erin-nelson/erin-nelson-9-600.webp 600w,
        /images/watership-damn/erin-nelson/erin-nelson-9-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/watership-damn/erin-nelson/erin-nelson-9-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--7"
      srcset="
        /images/watership-damn/erin-nelson/erin-nelson-7-600.webp 600w,
        /images/watership-damn/erin-nelson/erin-nelson-7-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/watership-damn/erin-nelson/erin-nelson-7-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--8"
      srcset="
        /images/watership-damn/erin-nelson/erin-nelson-12-600.webp 600w,
        /images/watership-damn/erin-nelson/erin-nelson-12-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/watership-damn/erin-nelson/erin-nelson-12-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--9"
      srcset="
        /images/watership-damn/erin-nelson/erin-nelson-5-600.webp 600w,
        /images/watership-damn/erin-nelson/erin-nelson-5-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/watership-damn/erin-nelson/erin-nelson-5-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--10"
      srcset="
        /images/watership-damn/erin-nelson/erin-nelson-11-600.webp 600w,
        /images/watership-damn/erin-nelson/erin-nelson-11-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/watership-damn/erin-nelson/erin-nelson-11-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--11"
      srcset="
        /images/watership-damn/erin-nelson/erin-nelson-1-600.webp 600w,
        /images/watership-damn/erin-nelson/erin-nelson-1-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/watership-damn/erin-nelson/erin-nelson-1-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item gallery__item--12"
      srcset="
        /images/watership-damn/erin-nelson/erin-nelson-14-600.webp 600w,
        /images/watership-damn/erin-nelson/erin-nelson-14-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/watership-damn/erin-nelson/erin-nelson-14-350.webp"
      alt=""
      loading="lazy"
    />
  </div>
  <a
    href="/gallery/?showName=watershipdamn"
    class="btn-more center-text mb-large"
    >View the full gallery &rarr;</a
  >
  <div class="center-text">
    <h3 class="heading-tertiary">2018: The Last</h3>
  </div>
  <div class="gallery__grid--small">
    <img
      class="gallery__item--small"
      srcset="
        /images/the-last/josh-hailey/josh-hailey-8-600.webp 600w,
        /images/the-last/josh-hailey/josh-hailey-8-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/the-last/josh-hailey/josh-hailey-8-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/the-last/josh-hailey/josh-hailey-1-600.webp 600w,
        /images/the-last/josh-hailey/josh-hailey-1-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/the-last/josh-hailey/josh-hailey-1-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/the-last/josh-hailey/josh-hailey-2-600.webp 600w,
        /images/the-last/josh-hailey/josh-hailey-2-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/the-last/josh-hailey/josh-hailey-2-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/the-last/josh-hailey/josh-hailey-3-600.webp 600w,
        /images/the-last/josh-hailey/josh-hailey-3-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/the-last/josh-hailey/josh-hailey-3-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/the-last/josh-hailey/josh-hailey-5-600.webp 600w,
        /images/the-last/josh-hailey/josh-hailey-5-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/the-last/josh-hailey/josh-hailey-5-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/the-last/josh-hailey/josh-hailey-6-600.webp 600w,
        /images/the-last/josh-hailey/josh-hailey-6-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/the-last/josh-hailey/josh-hailey-6-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/the-last/josh-hailey/josh-hailey-7-600.webp 600w,
        /images/the-last/josh-hailey/josh-hailey-7-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/the-last/josh-hailey/josh-hailey-7-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/the-last/josh-hailey/josh-hailey-4-600.webp 600w,
        /images/the-last/josh-hailey/josh-hailey-4-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/the-last/josh-hailey/josh-hailey-4-350.webp"
      alt=""
      loading="lazy"
    />
  </div>
  <a href="/gallery/?showName=thelast" class="btn-more center-text mb-large"
    >View the full gallery &rarr;</a
  >

  <div class="center-text">
    <h3 class="heading-tertiary">2017: Two Legs Bad</h3>
  </div>
  <div class="gallery__grid--small">
    <img
      class="gallery__item--small"
      srcset="
        /images/two-legs-bad/devin-flemingo/devin-flemingo-1-600.webp 600w,
        /images/two-legs-bad/devin-flemingo/devin-flemingo-1-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/two-legs-bad/devin-flemingo/devin-flemingo-1-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/two-legs-bad/joseph-walton/joseph-walton-1-600.webp 600w,
        /images/two-legs-bad/joseph-walton/joseph-walton-1-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/two-legs-bad/joseph-walton/joseph-walton-1-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/two-legs-bad/joseph-walton/joseph-walton-2-600.webp 600w,
        /images/two-legs-bad/joseph-walton/joseph-walton-2-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/two-legs-bad/joseph-walton/joseph-walton-2-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/two-legs-bad/joseph-walton/joseph-walton-3-600.webp 600w,
        /images/two-legs-bad/joseph-walton/joseph-walton-3-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/two-legs-bad/joseph-walton/joseph-walton-3-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/two-legs-bad/joseph-walton/joseph-walton-5-600.webp 600w,
        /images/two-legs-bad/joseph-walton/joseph-walton-5-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/two-legs-bad/joseph-walton/joseph-walton-5-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/two-legs-bad/joseph-walton/joseph-walton-6-600.webp 600w,
        /images/two-legs-bad/joseph-walton/joseph-walton-6-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/two-legs-bad/joseph-walton/joseph-walton-6-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/two-legs-bad/joseph-walton/joseph-walton-7-600.webp 600w,
        /images/two-legs-bad/joseph-walton/joseph-walton-7-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/two-legs-bad/joseph-walton/joseph-walton-7-350.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="gallery__item--small"
      srcset="
        /images/two-legs-bad/joseph-walton/joseph-walton-4-600.webp 600w,
        /images/two-legs-bad/joseph-walton/joseph-walton-4-350.webp 350w
      "
      ,
      sizes="(max-width: 75em) 300px, 600px"
      src="/images/two-legs-bad/joseph-walton/joseph-walton-4-350.webp"
      alt=""
      loading="lazy"
    />
  </div>
  <a href="/gallery/?showName=twolegsbad" class="btn-more center-text mb-large"
    >View the full gallery &rarr;</a
  >

  <p class="gallery__text">or</p>
  <a href="/gallery" class="btn-more center-text mb-large extra-padding"
    >View all photos &rarr;</a
  >
</section>
