<nav class="navigation">
  <div class="navigation__container">
    <div class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
    </div>
    <div class="navigation__background">&nbsp;</div>
    <ul class="navigation__list">
      <li class="navigation__item" data-id="top">
        <a href="/#top" class="navigation__link">Home</a>
      </li>
      <li class="navigation__item" data-id="show">
        <a href="/#show" class="navigation__link">About</a>
      </li>
      <li class="navigation__item" data-id="news">
        <a href="/#news" class="navigation__link">In The News</a>
      </li>
      <li class="navigation__item" data-id="gallery">
        <a href="/gallery/?name=all" class="navigation__link">Gallery</a>
      </li>
      <li class="navigation__item">
        <a href="/" class="navigation__link tickets-link">Subscribe</a>
      </li>
      <li class="navigation__item" data-id="contact">
        <a href="/#contact" class="navigation__link">Contact</a>
      </li>
    </ul>
  </div>
</nav>
