<% layout('layout/boilerplate')%>
    <script src="https://www.google.com/recaptcha/api.js" async defer>
    </script>
    <script src="/js/main.js" type="module" defer></script>
    <title>Aquamob NOLA</title>
    </head>

    <body>
        <div class="header-background">
        </div>
        <header class="header" id="top">
            <div class="bloody">
                <canvas class="bloody__canvas"></canvas>
                <button class=" bloody__stop">Stop the blood!</button>
            </div>
            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main">aquamob nola</span>
                    <span class="heading-primary--sub">New Orlean's Premier</span>
                </h1>
                <h2 class="header__subheading">Community Dystopian Horror</h2>
            </div>
            <h1 class="heading-primary--lower header__title-lower">Water Ballet Troupe</h1>
        </header>
        <main class="main">
            <div class="section-wrapper">
                <section class="section-backdrop section-show rotate" id="show">
                    <div class="show">
                        <h2 class="heading-secondary show__heading mb-large mt-large">About Us</h2>
                        <div class="grid grid--col-2 extra-padding">
                            <div class="show__container">
                                <h3 class="heading-tertiary mb-xsmall">Who is Aqua Mob?</h3>
                                <p class="show__text mb-small">Aqua Mob is New Orleans' first and only community-based
                                    water ballet ensemble. Open to all, Aqua Mob's mission is to make the joy of
                                    producing aquatic theater accessible to adults from all backgrounds.<br />
                                    The Pelican
                                    Bomb found Aqua Mob's 2017 debut performance of Two Legs Bad &#40;based on George
                                    Orwell's Animal Farm&#41; “resemble[d] a combination of Olympic gymnastics routines
                                    and
                                    Jurassic Park” and that the “violent circus . . .is a reminder of the . . .absolute
                                    farce of tyranny.” <br />
                                    We strive to meet this standard with each production! Through the
                                    years we have continued to tackle dystopian and horror themes with our
                                    interpretations of The Last Unicorn, Watership Down, Suspiria and Alien.<br />
                                </p>
                            </div>
                            <div class="show__photos-container">
                                <div class="show__photos show__photos-1">
                                    <img srcset="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8293-225.webp 400w, /images/suspiriAcgua/raymond-rehage/raymond-rehage-8293-600.webp 600w"
                                        sizes="100%" src="images/raymond-rehage-crown-sm.webp" alt="an actress" loading="lazy"
                                        class="show__photo" />
                                    <p class="photo-credit show__credit">Photo by Raymond Rehage</p>
                                </div>
                                <div class="show__photos show__photos-2">
                                    <img srcset="/images/ripley/eli-mergel/eli-mergel-1602-225.webp 400w, /images/ripley/eli-mergel/eli-mergel-1578-600.webp 600w"
                                        sizes="100%" src="images/eli-mergel-pool-shot-med.webp"
                                        alt="swimmers in the pool" class="show__photo" />
                                    <p class="photo-credit show__credit">Photo by Eli Mergel</p>
                                </div>
                                <div class="show__photos show__photos-3">
                                    <img srcset="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8811-225.webp 400w, /images/suspiriAcgua/raymond-rehage/raymond-rehage-8811-600.webp 600w"
                                        sizes="100%" src="raymond-rehage-synchronized-med.webp"
                                        alt="swimmers in the pool" class="show__photo" />
                                    <p class="photo-credit show__credit">Photo by Raymond Rehage</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="background-image"><img src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8677-400.webp"
                    alt="" loading="lazy" class="background-img1 background-img"><img
                    src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8677-2000.webp" alt="" loading="lazy"
                    class="background-img2 background-img">
            </div>
            <section id="news" class="section-news news">
                <div class="center-text mb-large">
                    <h2 class="heading-secondary mt-large">In The News</h2>
                </div>
                
                <div class="news__article-wrapper  mb-large">
                    <div class="news__article">
                        <div class="news__rule"></div>
                        <p class="news__site"><a href="https://ambushmag.com" target="_blank" class="news__address">Ambushmag.com</a></p>
                        <h3 class="news__headline"><a href="https://www.ambushmag.com/trodding-the-boards-october-3-2023/?fbclid=IwAR0uEwdRTIjuXSC-FPTV50nOX13JRc4gy6ttzbU5vIPQdu3xSEVzsulRP-k" target="_blank" class="news__link">Trodding the Boards October 3, 2023<br />Carrie: Blood in the Water at the Drifter Hotel through October 7</a></h3>
                        <div class="news__body">
                            <p class="news__text">The lifts seem to be more thrilling, the swimming more synchronized, and the ballet for Carrie (Madeline Corcoran) and her prom date Todd (Hilary Neeb) provides a fitting tenderness. Add to all this Daisy Konfused marvelously channeling Piper Laurie as Carrie’s religion-obsessed mother complete with flowing fire red hair; the band The Bomb Pulse pumping out hits from Nirvana and other rock groups that aptly comment on the plot; a lesbian cheerleader water ballet sequence; and an enormous blood-squirting pig (front row–watch out!), and you get an evening of wild fun and athletic accomplishment from a multi-talented cast of over 20.
                            </p>
                            <img src="/images/news/ambush-photo.webp" alt="" loading="lazy" class="news__img">
                        </div>
                        <time class="news__date" datetime="2023-10-06">October 6, 2023</time>
                    </div>
                </div>
                <div class="news__article-wrapper  mb-large">
                    <div class="news__article">
                        <div class="news__rule"></div>
                        <p class="news__site"><a href="https://nola.com" target="_blank" class="news__address">Nola.com</a></p>
                        <h3 class="news__headline"><a href="https://www.nola.com/gambit/events/aqua-mob-brings-water-ballet-adaptation-of-horror-classic-carrie-to-the-drifter-hotel/article_a7bc7788-58c6-11ee-b575-c70805fe25e4.html?fbclid=IwAR1EVvdrxKU7G2KIb3KHWIuxwmVPBTRgZCY4yv5RujF2ae-Kej1-kaq0Tk8" target="_blank" class="news__link">Aqua Mob brings water ballet adaptation of horror classic 'Carrie' to the Drifter Hotel</a></h3>
                        <div class="news__body">
                            <p class="news__text">New Orleans water ballet group Aqua Mob is set to debut "Carrie: Blood in the Water" at the Drifter Hotel on September 28. Known for their horror-themed performances, the troupe previously adapted "Alien" and "Suspiria." "Carrie," Stephen King's first novel turned 1976 film, follows a bullied teenager with telekinetic powers facing prom humiliation. Aqua Mob's rendition combines synchronized swimming, poolside action, and live music.
                            </p>
                            <img src="/images/news/nola-gambit.webp" alt="" loading="lazy" class="news__img">
                        </div>
                        <time class="news__date" datetime="2023-09-24">September 24, 2023</time>
                    </div>
                </div>
                <div class="news__article-wrapper  mb-large">
                    <div class="news__article">
                        <div class="news__rule"></div>
                        <p class="news__site"><a href="https://nola.com" target="_blank" class="news__address">Nola.com</a></p>
                        <h3 class="news__headline"><a href="https://www.nola.com/gambit/aqua-mob-presents-a-dramatic-water-ballet-based-on-watership-down-at-the-drifter-hotel/article_a71b3ea7-e20d-5270-b7cf-e1461a74a29f.html" target="_blank" class="news__link">Aqua Mob presents a dramatic water ballet based on 'Watership Down' at the Drifter Hotel</a></h3>
                        <div class="news__body">
                            <p class="news__text"> Aqua Mob combines synchronized swimming, aerialists, and adaptations of dystopic novels in their performances. Their upcoming show, "Watership Damn!," is a reworking of Richard Adams' "Watership Down." Despite the lighthearted appearance of their performances, Aqua Mob's stories carry dark political undertones.  Members of Aqua Mob, including cultural anthropologist Laura-Zoe Humphreys, have been practicing various synchronized swimming moves for their unique adaptations, with some routines requiring improvisation due to the pool's depth constraints.
                            </p>
                            <img src="/images/watership-damn/erin-nelson/erin-nelson-3-600.webp" alt="" loading="lazy" class="news__img">
                        </div>
                        <time class="news__date" datetime="2019-09-23">September 23, 2019</time>
                    </div>
                </div>
                <div class="news__article-wrapper  mb-large">
                    <div class="news__article">
                        <div class="news__rule"></div>
                        <p class="news__site"><a href="https://verylocal.com" target="_blank" class="news__address">Verylocal.com</a></p>
                        <h3 class="news__headline"><a href="https://www.verylocal.com/aqua-mob-the-last-the-last-unicorn-drifter/19441/" target="_blank" class="news__link">Aqua Mob’s water ballet strips ’80s fantasy to its core</a></h3>
                        <div class="news__body">
                            <p class="news__text">Aqua Mob, New Orleans' water ballet sensation, presents their latest production, "The Last!" at The Drifter. Departing from traditional water ballet norms, the show is a dance-heavy, spectacle-rich parody of '80s animated musical "The Last Unicorn," featuring circus tricks and dramatic staging. Written and directed by Alayne Gobeille, known for her unconventional productions, "The Last!" tackles darker themes and emphasizes empowerment against oppression. With a focus on strong female and non-gender-conforming leads, the show promises a visually stunning and politically resonant experience.
                            </p>
                            <img src="/images/news/the-last-very-local.webp" alt="" loading="lazy" class="news__img">
                        </div>
                        <time class="news__date" datetime="2018-08-03">August 3, 2018</time>
                    </div>
                </div>
                <div class="news__article-wrapper mb-xlarge">
                    <div class="news__article">
                        <div class="news__rule"></div>
                        <p class="news__site"><a href="https://pelicanbomb.com" target="_blank" class="news__address">Pelicanbomb.com</a></p>
                        <h3 class="news__headline"><a href="https://pelicanbomb.com/art-review/2018/orwell-at-the-pool-aqua-mob-new-orleans-two-legs-bad-at-the-drifter-hotel" target="_blank" class="news__link">Orwell at the Pool: Aqua Mob New Orleans’ “Two Legs Bad” at the Drifter Hotel</a></h3>
                        <div class="news__body">
                            <p class="news__text">
                                Aqua Mob New Orleans staged "Two Legs Bad," a water-ballet adaptation of George Orwell's "Animal Farm." The Pop-Surrealist production, held at the Drifter Hotel, portrays sea creatures overthrowing their human maestro in a satire of power dynamics. The show, resembling an acid trip with Klezmer music and fantastical costumes, explores themes of abuse of power and the farcical nature of tyranny. The author draws parallels between the water ballet's fictional narrative and contemporary politics, questioning the repetitive nature of such power struggles.
                            </p>
                            <img src="/images/news/pelican-bomb.webp" alt="" loading="lazy" class="news__img">
                        </div>
                        <time class="news__date" datetime="2018-01-24">January 24, 2018</time>
                    </div>
                </div>
            </section>
            <div class="section-wrapper">
                <%- include('./partials/gallery-thumbs') %>
            </div>
            <section id="contact" class="contact">
                <div class="contact__container">
                    <div class="contact__image--container">
                        <img src="images/envelope.svg" alt="envelope icon" class="contact__image">
                    </div>
                    <h2 class="contact__heading mt-medium">Send Us A Message</h2>
                    <form action="/" method="POST" class="contact__form">
                        <div class="contact__col">
                            <div class="contact__row">
                                <label for="fullName" class="contact__label">Full Name</label>
                                <input type="text" class="contact__input contact__input--name" id="fullName" name="fullName">
                            </div>
                            <div class="contact__row">
                                <label for="email" class="contact__label">Email</label>
                                <input type="email" name="email" class="contact__input contact__input--email"
                                id="email">
                            </div>
                        </div>
                        <div class="contact__col">
                            <div class="contact__row">
                                <label for="message" class="contact__label">Message</label>
                                <textarea name="message" id="message" class="contact__input contact__input--text" cols="30"
                                rows="10" placeholder="Enter your message here." required></textarea>
                            </div>
                        </div>
                        <div class="g-recaptcha" data-sitekey='<%= sitekey %>'></div>
                        <p class="captcha-msg"></p>
                        <button class="contact__button submit--btn" type="submit">Send</button>
                    </form>
                </div>
            </section>
        </main>
