body {
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: .15rem;
    word-spacing: .2rem;
    color: $color-white;
}

section {
    font-family: 'Libre Franklin', sans-serif;
    position: relative;
    font-size: 2rem;
    font-weight: 200;
}

.photo-credit {
    font-size: 1rem;
    color: $color-white-light;
    transform-origin: top left;
    transform: rotate(-90deg);
}

.heading-primary {
    color: $color-white;
    font-weight: 400;

    &--main {
        display: block;
        text-transform: uppercase;
        font-size: 6rem;
        letter-spacing: 1rem;
        z-index: 3;
    }

    &--sub {
        display: block;
        font-size: 3.6rem;
        letter-spacing: .3rem;
        z-index: 3;
    }

    &--title {
        display: block;
        color: $color-red-dark;
        text-transform: uppercase;
        font-size: 8rem;
        font-weight: 800;
    }

    &--lower {
        font-size: 2.8rem;
        letter-spacing: .2rem;
        font-weight: inherit;
    }
}

.heading-secondary {
    color: $color-white;
    font-weight: 400;
    font-size: 3.6rem;
    padding-top: 8rem;
    text-align: center;
}

.heading-tertiary {
    color: $color-white;
    font-weight: 400;
    font-size: 2.6rem;

    @include responsive(phone) {
        font-size: 2rem;
    }
}

.heading-quaternary {
    font-weight: 600;
    font-size: 2.2rem;
}
