<% layout('layout/boilerplate')%>
    <title>Aquamob NOLA</title>
    </head>

    <body>
        <section class="subscribed">
            <h1 class="subscribed__heading heading--primary">Error!</h1>
            <p class="subscribed__text">Well this is embarrassing.
            </p>
            <p class="subscribed__text mb-large">We encountered some sort of error.<br />If the problem persists and you feel like telling us about it, you can email us at <a
                href="mailto:error@aquamobnola.com" class="subscribed__mailto">error@aquamobnola.com</a></p>
            <p class="subscribed__text"><a href="/" class="subscribed__return">Return to homepage</a></p>
        </section>