<% layout('layout/boilerplate')%>
    <title>Aquamob NOLA</title>
    </head>

    <body>
        <section class="subscribed">
            <h1 class="subscribed__heading heading--primary">Your Email Has Already Been Registered</h1>
            <p class="subscribed__text">The email address: <%= email %> is already on our list.
            </p>
            <p class="subscribed__text">Wondering why you haven't received any newsletters yet?</p>
            <p class="subscribed__text">It may be because we haven't sent any out yet. Keep a lookout for one in the future!</p>
            <p class="subscribed__text"><a href="/" class="subscribed__return">Return to homepage</a></p>
        </section>