<% layout('layout/boilerplate')%>
    <title>Aquamob NOLA</title>
    </head>

    <body>
        <section class="subscribed">
            <h1 class="subscribed__heading heading--primary">We Could Not Find That Email!</h1>
            <p class="subscribed__text">We don't have a record of your email address. Please subscibe again.
            </p>
            <p class="subscribed__text">If you believe you received this message in error, please send an email to <a
                    href="mailto:subscribe@aquamobnola.com" class="subscribed__mailto">subscribe@aquamobnola.com</a>
                with
                the
                email address you would like to have subscribed.</p>
            <p class="subscribed__text"><a href="/" class="subscribed__return">Return to homepage</a></p>
        </section>