<% layout('layout/boilerplate')%>
    <title>Aquamob NOLA</title>
    </head>

    <body>
        <section class="subscribed">
            <h1 class="subscribed__heading heading--primary">Subscribed!</h1>
            <p class="subscribed__text">An email has been sent to <%= email %>.
            </p>
            <p class="subscribed__text">If you did not receive the email please send a message to <a
                    href="mailto:subscribe@aquamobnola.com" class="subscribed__mailto">subscribe@aquamobnola.com</a>
                with
                the
                email address you would like to have subscribed.</p>
            <p class="subscribed__text"><a href="/" class="subscribed__return">Return to homepage</a></p>
        </section>