<% layout('layout/boilerplate')%>
<meta http-equiv="refresh" content="4; url = https://aquamobnola.com" />
    <title>Aquamob NOLA</title>
    </head>

    <body>
        <section class="subscribed">
            <h1 class="subscribed__heading heading--primary">Unsubscribed</h1>
            <p class="subscribed__text">You have been unsubscribed. We're sorry to see you go.
            </p>
            <p class="subscribed__text">You will be redirected to
                <a href="/" class="subscribed__return">aquamobnola.com</a></p>
        </section>